<!-- Main Wrapper -->
  <div class="main-wrapper">

    <!-- Header -->
    <header class="header">
      <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
          <a id="mobile_btn" >
            <span class="bar-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
          <a class="navbar-brand logo">
            <img src="assets/website/img/logo.png" class="img-fluid" alt="Logo">
          </a>
        </div>
        <div class="main-menu-wrapper">
          <div class="menu-header">
            <a class="menu-logo">
              <img src="assets/website/img/logo.png" class="img-fluid" alt="Logo">
            </a>
            <a id="menu_close" class="menu-close" >
              <i class="fas fa-times"></i>
            </a>
          </div>
          <ul class="main-nav" style="margin-left: auto;">
            <li class="active">
              <a  routerLink="/patient/dashboard">Find Doctors </a>
            </li>
            <li>
              <a  routerLink="/patient/appointments">Appointments </a>
            </li>
            <li>
              <a routerLink="/patient/prescriptions">Prescriptions </a>
            </li>
            <li>
              <a  routerLink="/patient/profile">Profile </a>
            </li>


            <li >
              <a routerLink="logout()">Logout </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a>Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Find Doctors</h2>
						</div>
					</div>
				</div>
			</div>
    <div class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

            <!-- Search Filter -->
            <div class="card search-filter">
              <div class="card-header">
                <h4 class="card-title mb-0">Search Filter</h4>
              </div>
              <div class="card-body">
                <!-- Search -->
        <div class="search-box">
          <form action="">
            <div class="form-group search-location">
              <input type="text" class="form-control" placeholder="Search Location">
              <span class="form-text">Based on your Location</span>
            </div>

            <button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
          </form>
        </div>
        <!-- /Search -->


              </div>
            </div>
            <!-- /Search Filter -->

          </div>
          <div class="col-md-12 col-lg-8 col-xl-9 ">
            <div class="row row-grid">
          								<div class="col-md-6 col-lg-4 col-xl-3">
          									<div class="profile-widget" *ngFor="let practice of practices">
          										<div class="doc-img">
          											<a>
          												<img class="img-fluid" alt="User Image" src="assets/website/img/doctors/doctor1.jpeg">
          											</a>
          											<a class="fav-btn">
          												<i class="far fa-bookmark"></i>
          											</a>
          										</div>
          										<div class="pro-content">
          											<h3 class="title">
          												<a>Dr {{ practice.Dr_surname }}</a>
          												<i class="fas fa-check-circle verified"></i>
          											</h3>
          											<p class="speciality">General</p>
          											<div class="rating">
          												<i class="fas fa-star filled"></i>
          												<i class="fas fa-star filled"></i>
          												<i class="fas fa-star filled"></i>
          												<i class="fas fa-star filled"></i>
          												<i class="fas fa-star filled"></i>
          												<span class="d-inline-block average-rating">(17)</span>
          											</div>
          											<ul class="available-info">
          												<li>
          													<i class="fas fa-map-marker-alt"></i> {{ practice.practice_address}}
          												</li>
                                  <li>
        													<i class="fa fa-phone"></i> {{practice.number}}
        												</li>
          												<!-- <li>
          													<i class="far fa-clock"></i> Available on Fri, 22 Mar
          												</li> -->
          												<!-- <li>
          													<i class="far fa-money-bill-alt"></i> $300 - $1000 <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
          												</li> -->
          											</ul>
          											<div class="row row-sm" style="color: #fff;">
          												<div class="col-6">
          													<a routerLink="/patient/booking" class="btn book-btn">View Profile</a>
          												</div>
          												<div class="col-6">
          													<a routerLink="/patient/doctor-profile" class="btn book-btn">Book Now</a>
          												</div>
          											</div>
          										</div>
          									</div>
          								</div>



          							</div>


            </div>

        </div>

      </div>

    </div>
    <!-- /Page Content -->

    <!-- Footer -->

  </div>
  <!-- /Main Wrapper -->
