<div class="main-wrapper">

  <!-- Header -->
  <header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header">
        <a id="mobile_btn" >
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <a class="navbar-brand logo">
          <img src="assets/Images/logo.png" class="img-fluid" alt="Logo">
        </a>
      </div>
      <div class="main-menu-wrapper">
        <div class="menu-header">
          <a class="menu-logo">
            <img src="assets/Images/logo.png" class="img-fluid" alt="Logo">
          </a>
          <a id="menu_close" class="menu-close" >
            <i class="fas fa-times"></i>
          </a>
        </div>
        <ul class="main-nav" style="margin-left: auto;">

          <li class="active">
            <a  routerLink="/doctor/appointments">Appointments </a>
          </li>

          <li>
            <a  routerLink="/doctor/profile">Profile </a>
          </li>
          <li>
            <a  routerLink="/doctor/practice-profile">Profile </a>
          </li>


          <li >
            <a routerLink="logout()">Logout </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- /Header -->

  <!-- Breadcrumb -->
  <div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-8 col-12">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Search</li>
            </ol>
          </nav>
          <h2 class="breadcrumb-title">Appointments</h2>
						</div>
					</div>
				</div>
			</div>
    <div class="content">
      <div class="container-fluid">

        <div class="row">



          <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card">
              <div class="card-body pt-0">

                <!-- Tab Menu -->
                <nav class="user-tabs mb-4">
                  <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                    <li class="nav-item">
                      <a class="nav-link active" href="#today_appointments" data-toggle="tab">Today</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#incoming_appointments" data-toggle="tab">Incoming</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#expired_appointments" data-toggle="tab">Expired</a>
                    </li>
                  </ul>
                </nav>
                <!-- /Tab Menu -->

                <!-- Tab Content -->
                <div class="tab-content pt-0">

                  <!-- Appointment Tab -->
                  <div id="today_appointments" class="tab-pane fade show active">
                    <div class="card card-table mb-0">
                      <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                  <th>Patient Name</th>
                                  <th>Appt Date</th>
                                  <th>Notes</th>
                                  <th>Practice Name</th>
                                  <th>Status</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      Dakota Rice
                                    </td>
                                    <td>11 Nov 2019 <span class="d-block text-info">10.00 AM - 11-00 AM</span></td>
                                    <td>General</td>
                                    <td> PTA Branch</td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Completed</button></td>
                                    <td class="">
                                      <div class="table-action">

                                        <a class="btn btn-sm bg-info-light" (click)="open(mymodal)"><i class="fa fa-eye"></i> View</a>

                                      <ng-template #mymodal let-modal>
                                          <div class="modal-header">
                                            <h4 class="modal-title" id="modal-basic-title">Appointment Details</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                              <span aria-hidden="true">×</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                                <ul class="info-details">

                                                  <li>
                                                    <span class="title">Patient Name:</span>
                                                    <span class="text">Siba</span>
                                                  </li>
                                                  <li>
                                                    <span class="title">Confirm Date:</span>
                                                    <span class="text">29 Jun 2019</span>
                                                  </li>
                                                  <li>
                                                    <span class="title">Notes</span>
                                                    <span class="text">Flue</span>
                                                  </li>
                                                </ul>
                                              </div>

                                          <div class="modal-footer">
                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                        											<i class="fa fa-check"></i> Accept
                        										</a>
                        										<a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                        											<i class="fa fa-times"></i> Cancel
                        										</a>
                                          </div>
                                        </ng-template>
                                      </div>
                                    </td>
                                  </tr>


                                </tbody>
                              </table>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div id="incoming_appointments" class="tab-pane fade">
                    <div class="card card-table mb-0">
                      <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                  <th>Patient Name</th>
                                  <th>Appt Date</th>
                                  <th>Notes</th>
                                  <th>Practice Name</th>
                                  <th>Status</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      Dakota Rice
                                    </td>
                                    <td>11 Nov 2019 <span class="d-block text-info">10.00 AM - 11-00 AM</span></td>
                                    <td>General</td>
                                    <td> PTA Branch</td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Completed</button></td>
                                    <td class="">
                                      <div class="table-action">

                                        <!-- <a class="btn btn-sm bg-info-light" routerLink="/booking"><i class="fa fa-eye"></i> View</a> -->
                                        <a class="btn btn-sm bg-info-light" (click)="open(mymodal)"><i class="fa fa-eye"></i> View</a>

                                      <ng-template #mymodal let-modal>
                                          <div class="modal-header">
                                            <h4 class="modal-title" id="modal-basic-title">Appointment Details</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                              <span aria-hidden="true">×</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                                <ul class="info-details">

                                                  <li>
                                                    <span class="title">Patient Name:</span>
                                                    <span class="text">Siba</span>
                                                  </li>
                                                  <li>
                                                    <span class="title">Confirm Date:</span>
                                                    <span class="text">29 Jun 2019</span>
                                                  </li>
                                                  <li>
                                                    <span class="title">Notes</span>
                                                    <span class="text">Flue</span>
                                                  </li>
                                                </ul>
                                              </div>

                                          <div class="modal-footer">
                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                        											<i class="fa fa-check"></i> Accept
                        										</a>
                        										<a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                        											<i class="fa fa-times"></i> Cancel
                        										</a>
                                          </div>
                                        </ng-template>
                                      </div>
                                    </td>
                                  </tr>


                                </tbody>
                              </table>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div id="expired_appointments" class="tab-pane fade" >
                    <div class="card card-table mb-0">
                      <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                  <th>Patient Name</th>
                                  <th>Appt Date</th>
                                  <th>Notes</th>
                                  <th>Practice Name</th>
                                  <th>Status</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      Dakota Rice
                                    </td>
                                    <td>11 Nov 2019 <span class="d-block text-info">10.00 AM - 11-00 AM</span></td>
                                    <td>General</td>
                                    <td> PTA Branch</td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Completed</button></td>
                                    <td class="">
                                      <div class="table-action">

                                        <!-- <a class="btn btn-sm bg-info-light" routerLink="/booking"><i class="fa fa-eye"></i> View</a> -->
                                        <a class="btn btn-sm bg-info-light" (click)="open(mymodal)"><i class="fa fa-eye"></i> View</a>

                                      <ng-template #mymodal let-modal>
                                          <div class="modal-header">
                                            <h4 class="modal-title" id="modal-basic-title">Appointment Details</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                              <span aria-hidden="true">×</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                                <ul class="info-details">

                                                  <li>
                                                    <span class="title">Patient Name:</span>
                                                    <span class="text">Siba</span>
                                                  </li>
                                                  <li>
                                                    <span class="title">Confirm Date:</span>
                                                    <span class="text">29 Jun 2019</span>
                                                  </li>
                                                  <li>
                                                    <span class="title">Notes</span>
                                                    <span class="text">Flue</span>
                                                  </li>
                                                </ul>
                                              </div>

                                          <div class="modal-footer">
                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                              <i class="fa fa-check"></i> Accept
                                            </a>
                                            <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                              <i class="fa fa-times"></i> Cancel
                                            </a>
                                          </div>
                                        </ng-template>
                                      </div>
                                    </td>
                                  </tr>


                                </tbody>
                              </table>
                            </div>
                          </div>
                    </div>
                  </div>
                  <!-- /Prescription Tab -->





                </div>
                <!-- Tab Content -->

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- /Page Content -->

    <!-- Footer -->

  </div>
  <!-- /Main Wrapper -->
  <div class="modal fade custom-modal" id="appt_details">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Appointment Details</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<ul class="info-details">
							<li>
								<div class="details-header">
									<div class="row">
										<div class="col-md-6">
											<span class="title">Date</span>
											<span class="text">21 Oct 2019 10:00 AM</span>
										</div>
										<div class="col-md-6">
											<div class="text-right">
												<button type="button" class="btn bg-success-light btn-sm" id="topup_status">Completed</button>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<span class="title">Status:</span>
								<span class="text">Completed</span>
							</li>
							<li>
								<span class="title">Confirm Date:</span>
								<span class="text">29 Jun 2019</span>
							</li>
							<li>
								<span class="title">Paid Amount</span>
								<span class="text">$450</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>


    