
		<div class="main-wrapper">


			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-8 offset-md-2">

							<!-- Login Tab Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<!-- -->
									<div class="col-md-12 col-lg-6 login-right">


										<form [formGroup]="loginForm" (ngSubmit)="login()" >
											<span class="login100-form-logo">
							          <img src="assets/website/img/logo.png" class="img-fluid-login" alt="Logo">
							        </span>
											<div class="login-header" >
												<h3>Login </h3>
											</div>
											<div class="row row-sm" style=" padding-top: 10px;margin-right: -3px;    margin-left: 1px;">
												<div class="col-4">
													<a routerLink="/patient/doctor-profile"class="btn book-btn btn-block btn-outline-primary  active">Patient</a>
												</div>
												<div class="col-4">
													<a routerLink="/patient/booking"class="btn book-btn btn-block btn-outline-primary active">Doctor</a>
												</div>
												<div class="col-4">
													<a routerLink="/patient/booking"class="btn book-btn btn-block btn-outline-primary active">Pharmacy </a>
												</div>
											</div>
											<hr>
                    <div class="info-widget">

                    <div class="col-12 col-md-12">
                      <div class="form-group card-label">
                        <label class="focus-label">Email</label>
                        <input type="email" class="form-control floating" formControlName="email">
                        </div>
                      </div>
                    <div class="col-12 col-md-12">
                      <div class="form-group card-label">
                        <label class="focus-label">Password</label>
                        <input type="password" class="form-control floating" formControlName="password">
                        </div>
                      </div>

                    <div class="text-right">
                      <a class="forgot-link" routerLink="forgot-password" >Forgot Password ?</a>
                    </div>
                    <button class="btn btn-primary btn-block btn-lg login-btn btn-block btn-outline-primary active" type="submit">Login</button>
                    <div class="login-or">
                      <span class="or-line"></span>
                      <span class="span-or">or</span>
                    </div>
                    <div class="text-center dont-have">Don’t have an account? <a routerLink="/register" >Register</a></div>
                    </div>
                  </form>
									</div>
								</div>
							</div>
							<!-- /Login Tab Content -->

						</div>
					</div>

				</div>

			</div>


		</div>
