
<header class="header_area" style="position:fixed" width="100%">
  <div class="top_menu row m0">
    <div class="container">
      <div class="float-left">
        <ul class="left_side">
					<li>
            <a>
              <i class="fa fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a >
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="float-right">
        <ul class="right_side">
          <li>
            <a >
              <i class="lnr lnr-phone-handset"></i>
              081 472 4471 / 081 722 3199
            </a>
          </li>
          <li>
            <a >
              <i class="lnr lnr-envelope"></i>
              health@medicalcouch.co.za
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main_menu" >
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" >
          <img src="assets/Images/logo.png" alt="" width="100px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
         aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <div class="row ml-0 w-100">
            <div class="col-lg-12 pr-0">
              <ul class="nav navbar-nav center_nav pull-right">
                <li class="nav-item ">
                  <a class="nav-link" routerLink="/home">About Us</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" routerLink="/patient-information"> Patients</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/doctor-information">Doctor</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink="/pharmacy-information">Pharmacy</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" routerLink="/login">Login</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content text-left">
        <h2>Doctor</h2>
        <div class="page_link">
          <a href="index.html">Home</a>
          <a href="doctors.html">Doctor</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Header Menu Area =================-->

<!--================ Home Banner Area =================-->

<main id="main">


  <!-- ======= About Us Section ======= -->
  <section id="services" class="services services" >
    <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>SERVICES RENDERED</h2>
            <p><strong>Medical Couch</strong> helps pharmacies not to only have an organised online prescription upload
                system which helps to make hand out easy, but to be advertised to the new platforms of social
                media. </p>
                             <p><strong>Medical Couch</strong> has joined with <strong>MATHOBELA ADVERTISING AGENCY </strong>which has
              <strong>5000+ followers</strong>   in Instagram and  <strong>2000+ followers</strong> on Facebook, giving your practice a full
                advertised platform.</p>

         </div>

          <div class="row">

            <div class="col-lg-6 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="icofont-upload"></i></div>
              <h4 class="title"><a>Online prescription upload site</a></h4>
            <i class="icofont-web"></i>
              <p>Enables the pharmacy to receive
                prescriptions together with patient
                information and data to enter on their
                system.</p>
                <p>It will be user friendly and allow full
                control over the prescription upload
                process</p>
              </div>
              <div class="col-lg-6 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="icofont-web"></i></div>
                <h4 class="title"><a >Website redirecting </a></h4>
                <i class="bx bx-check-circle"></i>
                <p>The pharmacy has a choice to re-direct
                  patient and doctors uploading
                  prescriptions to their website, which creates
                  exposure for the pharmacy’s website</p>
              </div>
            <div class="col-lg-6 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="icofont-camera"></i></div>
              <h4 class="title"><a >  Photoshoot  </a></h4>
              <i class="bx bx-check-circle"></i>
              <p>The Pharmacy will have clear
                photos for social media
                advertising and for our website.</p>
            </div>
            <div class="col-lg-6 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="icofont-dashboard-web"></i></div>
              <h4 class="title"><a > Advertising space</a></h4>
              <p class="description">The pharmacy may advertise
                    tests done, medication and
                    products on our website for
                    more exposure.</p>
            </div>

          </div>

        </div>
  </section>
  <section id="pricing" class="pricing" style="background: #eeeeee;">
    			    <div class="container" data-aos="fade-up">

    			      <div class="section-title">
    			        <h2>Pricing</h2>
    			      </div>

    			      <div class="row">



    			        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
    			          <div class="box featured" data-aos="fade-up" data-aos-delay="200">
    			            <h3>Online prescription upload site </h3>
    			            <h4><sup>R</sup>85<span> / month</span></h4>
    			          </div>
    			        </div>
                  <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                   <div class="box featured" data-aos="fade-up" data-aos-delay="200">
                     <h3>Photo shoot</h3>
                     <h4><sup>R</sup>250<span> Once off </span></h4>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                   <div class="box featured" data-aos="fade-up" data-aos-delay="200">
                     <h3>Website redirecting </h3>
                     <h4><sup>R</sup>50<span> / month</span></h4>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                   <div class="box featured" data-aos="fade-up" data-aos-delay="200">
                     <h3>Advertising space </h3>
                     <h4><sup>C</sup>20<span> / click</span></h4>
                   </div>
                 </div>






    			      </div>

    			    </div>
    			  </section>
  <section id="services cta" class="services services cta" >
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>WHY US?</h2>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="icofont-drug"></i></div>
          <h4 class="title"><a>Upload prescription </a></h4>
          <p class="description">We provide a feature that allows uploading of prescriptions online wherever you are and whenever you want.</p>
        </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="icofont-dashboard-web"></i></div>
            <h4 class="title"><a >Brand Ambassadors </a></h4>
            <p class="description">Unlike our competition <strong>Medical Couch</strong> makes its clients its brand ambassadors
  making them the frontline of advertisement. We aim to give our clients total control of
  the website enabling all parties to cancel, accept, decline and upload at their own time
  for their preferred time.</p>
          </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><i class="icofont-ui-social-link"></i></div>
          <h4 class="title"><a >  Social Media</a></h4>
          <p class="description">We use social media platforms for advertisement that contains over a 1000 followers
  for greater exposure.</p>
        </div>
        <div class="col-lg-6 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><i class="icofont-money-bag"></i></div>
          <h4 class="title"><a > Affordability</a></h4>
          <p class="description">We provide all these services at an affordable price.</p>
        </div>
        <div class="col-lg-6 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="icofont-bullseye"></i></div>
          <h4 class="title"><a >Our Promise </a></h4>
          <p class="description">Your goal is our mission and your vision is our priority.</p>
        </div>

      </div>

    </div>
    </section>
    <section id="features" class="features" >
  			    <div class="container" data-aos="fade-up">

  			      <div class="section-title">
  			        <h2>TERMS AND CONDITIONS</h2>
  			        <p>By signing the contract you agree:</p>
  			      </div>

  			      <div class="row">
  			        <div class="col-lg-6" data-aos="fade-right">
  			          <img src="assets/Images/aboutus.jpeg" class="img-fluid" alt="">
  			        </div>
  			        <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">

                  <div class="icon-box mt-5 mt-lg-0">
                    <i class="icofont-pay"></i>
                    <p>To pay your selected price on the agreed upon date every month.</p>
                  </div>
									<br>
										<br>
                  <div class="icon-box mt-5 mt-lg-0">
  										<i class="icofont-people"></i>
                    <p>Will be able to arrange further meetings for updates and any
                          amendments that need to be done to set up your profile.</p>
                  </div>
										<br>
										<br>
                  <div class="icon-box mt-5 mt-lg-0">
                    <i class="icofont-law-alt-3"></i>
                    <p>The practice is registered according to the correct laws of your area.</p>
                  </div>
										<br>
											<br>
                  <div class="icon-box mt-5 mt-lg-0">
                    <i class="icofont-law-document"></i>
                    <p>Will be able to abide to the terms and condition of using <strong>Medical Couch</strong>.</p>
                  </div>
  			        </div>
  			      </div>

  			    </div>
  			  </section>
          <section id="contact" class="contact" style="background: #eeeeee;">
    <div class="container">

      <div class="section-title">
        <h2>Contact Us</h2>
        <p>Feel free to contact <strong>Medical Couch</strong> for any queries or arrangements for meetings</p>
      </div>

    </div>



    <div class="container">

      <div class="row mt-5">

        <div class="col-lg-12">

          <div class="row">

            <div class="col-md-4">
              <div class="info-box mt-4">
                <div class="icon"><i class="icofont-email" ></i></div>
                <h3>Email Us</h3>
                <p>health@medicalcouch.co.za</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info-box mt-4">
                <div class="icon"><i class="icofont-phone" ></i></div>
                <h3>Call Us</h3>
                <p>081 472 4471 <br>081 722 3199</p>
              </div>
            </div>
            <div class="col-md-4">
             <div class="info-box mt-4">
               <i class="icofont-instagram"></i>
               <h3>Follow Us </h3>
               <p>@health_medicalcouch</p>
             </div>
           </div>
          </div>

        </div>



      </div>

    </div>
  </section>


</main>
<footer class="footer">

				<!-- Footer Bottom -->
								<div class="footer-bottom">
					<div class="container-fluid">

						<!-- Copyright -->
						<div class="copyright">
							<div class="row">

								<div class="col-md-6 col-lg-6">

									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<!-- <li><a href="term-condition.html">Terms and Conditions</a></li> -->
											<li><a >Privacy Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->

								</div>
							</div>
						</div>
						<!-- /Copyright -->

					</div>
				</div>
				<!-- /Footer Bottom -->

			</footer>
