<div class="main-wrapper">

  <!-- Header -->
  <header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header">
        <a id="mobile_btn" >
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <a class="navbar-brand logo">
          <img src="assets/Images/logo.png" class="img-fluid" alt="Logo">
        </a>
      </div>
      <div class="main-menu-wrapper">
        <div class="menu-header">
          <a class="menu-logo">
            <img src="assets/Images/logo.png" class="img-fluid" alt="Logo">
          </a>
          <a id="menu_close" class="menu-close" >
            <i class="fas fa-times"></i>
          </a>
        </div>
        <ul class="main-nav" style="margin-left: auto;">
          <li >
            <a  routerLink="/patient/dashboard">Find Doctors </a>
          </li>
          <li>
            <a  class="active" routerLink="/patient/appointments">Appointments </a>
          </li>
          <li>
            <a routerLink="/patient/prescriptions">Prescriptions </a>
          </li>
          <li>
            <a  routerLink="/patient/profile">Profile </a>
          </li>


          <li >
            <a routerLink="logout()">Logout </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- /Header -->

  <!-- Breadcrumb -->
  <div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-8 col-12">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Search</li>
            </ol>
          </nav>
          <h2 class="breadcrumb-title">Appointments</h2>
						</div>
					</div>
				</div>
			</div>
    <div class="content">
      <div class="container-fluid">

        <div class="row">



          <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card">
              <div class="card-body pt-0">

                <!-- Tab Menu -->
                <nav class="user-tabs mb-4">
                  <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                    <li class="nav-item">
                      <a class="nav-link " href="#today_appointments" data-toggle="tab">Today</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link active" href="#incoming_appointments" data-toggle="tab">Incoming</a>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="#expired_appointments" data-toggle="tab">Expired</a>
                    </li> -->
                  </ul>
                </nav>
                <!-- /Tab Menu -->

                <!-- Tab Content -->
                <div class="tab-content pt-0">

                  <!-- Appointment Tab -->
                  <div id="today_appointments" class="tab-pane fade show active">
                    <div class="card card-table mb-0">
                      <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                  <th>Doctors Name</th>
                                  <th>Appt Date</th>
                                  <th>Notes</th>
                                  <th>Practice Name</th>
                                  <th>Status</th>
                                    <th>Action </th>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let app of appointment">
                                    <td>
                                      {{app.doctor}}
                                    </td>
                                    <td>{{app.date}} <span class="d-block text-info">10.00 AM - 11-00 AM</span></td>
                                    <td>{{ app.symptoms }}</td>
                                    <td> {{app.pratice}}</td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Completed</button></td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Approved</button></td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Pending</button></td>
                                    <td> <button type="button" class="btn bg-danger-light btn-sm" id="topup_status">Cancel</button></td>

                                    <td class="">
                                      <div class="table-action">
                                        <a class="btn btn-sm bg-info-light" routerLink="/patient/booking"><i class="fa fa-pencil"></i> Edit</a>

                                      </div>

                                    </td>
                                  </tr>


                                </tbody>
                              </table>
                            </div>
                          </div>
                    </div>
                  </div>
                  <!-- <div id="incoming_appointments" class="tab-pane fade">
                    <div class="card card-table mb-0">
                      <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                  <th>Doctors Name</th>
                                  <th>Appt Date</th>
                                  <th>Notes</th>
                                  <th>Practice Name</th>
                                  <th>Status</th>
                                    <th>Action </th>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let app of appointment">
                                    <td>
                                      {{app.doctor}}
                                    </td>
                                    <td>{{app.date}} <span class="d-block text-info">10.00 AM - 11-00 AM</span></td>
                                    <td>{{ app.symptoms }}</td>
                                    <td> {{app.pratice}}</td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Completed</button></td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Approved</button></td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Pending</button></td>
                                    <td> <button type="button" class="btn bg-danger-light btn-sm" id="topup_status">Cancel</button></td>

                                    <td class="">
                                      <div class="table-action">
                                        <a class="btn btn-sm bg-info-light" routerLink="/patient/booking"><i class="fa fa-pencil"></i> Edit</a>

                                      </div>

                                    </td>
                                  </tr>


                                </tbody>
                              </table>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div id="expired_appointments" class="tab-pane fade" >
                    <div class="card card-table mb-0">
                      <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                  <th>Doctors Name</th>
                                  <th>Appt Date</th>
                                  <th>Notes</th>
                                  <th>Practice Name</th>
                                  <th>Status</th>
                                    <th>Action </th>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let app of appointment">
                                    <td>
                                      {{app.doctor}}
                                    </td>
                                    <td>{{app.date}} <span class="d-block text-info">10.00 AM - 11-00 AM</span></td>
                                    <td>{{ app.symptoms }}</td>
                                    <td> {{app.pratice}}</td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Completed</button></td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Approved</button></td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Pending</button></td>
                                    <td> <button type="button" class="btn bg-danger-light btn-sm" id="topup_status">Cancel</button></td>

                                    <td class="">
                                      <div class="table-action">
                                        <a class="btn btn-sm bg-info-light" routerLink="/patient/booking"><i class="fa fa-pencil"></i> Edit</a>

                                       </div>

                                    </td>
                                  </tr>


                                </tbody>
                              </table>
                            </div>
                          </div>
                    </div>
                  </div> -->
                  <!-- /Prescription Tab -->





                </div>
                <!-- Tab Content -->

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- /Page Content -->

    <!-- Footer -->

  </div>
  <!-- /Main Wrapper -->
