
		<!-- Main Wrapper -->
        <div class="main-wrapper">

			<!-- Header -->
            <div class="header">

				<!-- Logo -->
                <div class="header-left">
                    <a  class="logo">
						<img src="assets/images/logo.png" alt="Logo">
					</a>
					<a  class="logo logo-small">
						<img src="assets/images/logo.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->

				<a id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>



				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->

				<!-- Header Right Menu -->
				<ul class="nav user-menu">



					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a  class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="assets/images/doctors/Doctor-01.jpeg" width="31" alt=""></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Sibahle Mvubu</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" routerLink="/home">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->

				</ul>
				<!-- /Header Right Menu -->

            </div>
			<!-- /Header -->

			<!-- Sidebar -->
      <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="active">
								<a routerLink="/dashboard" ><i class="fe fe-home"></i> <span>Dashboard</span></a>
							</li>
							<li>
								<a routerLink="/appointments" ><i class="fe fe-layout"></i> <span>Appointments</span></a>
							</li>
							<li>
								<a routerLink="/profile" ><i class="fe fe-user-plus"></i> <span>Profile</span></a>
							</li>
              <li>
								<a routerLink="/logout" ><i class="fe fe-warning"></i> <span>Logout</span></a>
							</li>
						</ul>
					</div>
          </div>
      </div>
			<!-- /Sidebar -->

			<!-- Page Wrapper -->
            <div class="page-wrapper">

                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Find Doctors</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item active">Location</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

          <div class="row">
          <div class="col-xl-12 col-sm-6 col-12">
        							<div class="row row-grid">
        								<div class="col-md-6 col-lg-4 col-xl-3">
        									<div class="profile-widget">
        										<div class="doc-img">
        											<a>
        												<img class="img-fluid" alt="User Image" src="assets/images/doctors/Doctor-01.jpeg">
        											</a>
        											<a class="fav-btn">
        												<i class="fas fa-bookmark"></i>
        											</a>
        										</div>
        										<div class="pro-content">
        											<h3 class="title">
        												<a >Sibusiso Jiyane</a>
        												<!-- <i class="fas fa-check-circle verified"></i> -->
        											</h3>
        											<!-- <p class="speciality">MDS - Periodontology and Oral Implantology, BDS</p> -->
        											<div class="rating">
        												<i class="fas fa-star filled"></i>
        												<i class="fas fa-star fildashboardled"></i>
        												<i class="fas fa-star filled"></i>
        												<i class="fas fa-star filled"></i>
        												<i class="fas fa-star filled"></i>
        												<span class="d-inline-block average-rating">(17)</span>
        											</div>
        											<ul class="available-info">
        												<li>
        													<i class="fas fa-map-marker-alt"></i> Pretoria, SA
        												</li>
        												<li>
        													<i class="fas fa-phone-alt"></i> 061 1258 845
        												</li>
        												<li>
        													<!-- <i class="fas fa-li"></i> $300 - $1000 <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i> -->
        												</li>
        											</ul>
        											<div class="row row-sm">
        												<div class="col-6">
        													<a routerLink="/doctor-profile" class="btn view-btn btn-block btn-outline-primary active">View Profile</a>
        												</div>
        												<div class="col-6">
        													<a routerLink="/booking"class="btn book-btn btn-block btn-outline-primary">Book Now</a>
        												</div>
        											</div>
        										</div>
        									</div>
        								</div>



        							</div>
        						</div>
                    </div>

				</div>
			</div>
			<!-- /Page Wrapper -->

        </div>
		<!-- /Main Wrapper -->
