<div class="main-wrapper">

  <!-- Header -->
  <header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header">
        <a id="mobile_btn" >
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <a class="navbar-brand logo">
          <img src="assets/Images/logo.png" class="img-fluid" alt="Logo">
        </a>
      </div>
      <div class="main-menu-wrapper">
        <div class="menu-header">
          <a class="menu-logo">
            <img src="assets/Images/logo.png" class="img-fluid" alt="Logo">
          </a>
          <a id="menu_close" class="menu-close" >
            <i class="fas fa-times"></i>
          </a>
        </div>
        <ul class="main-nav" style="margin-left: auto;">
          <li class="active">
            <a  routerLink="/patient/dashboard">Find Doctors </a>
          </li>
          <li>
            <a  routerLink="/patient/appointments">Appointments </a>
          </li>
          <li>
            <a routerLink="/patient/prescriptions">Prescriptions </a>
          </li>
          <li>
            <a  routerLink="/patient/profile">Profile </a>
          </li>


          <li >
            <a routerLink="logout()">Logout </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- /Header -->

  <!-- Breadcrumb -->
  <div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-8 col-12">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Search</li>
            </ol>
          </nav>
          <h2 class="breadcrumb-title">Find Doctor</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /Breadcrumb -->

  <!-- Page Content -->
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

          <!-- Search Filter -->
          <div class="card search-filter">
            <div class="card-header">
              <h4 class="card-title mb-0">Search </h4>
            </div>
            <div class="card-body">
            <div class="filter-widget">
              <div class="cal-icon">
                <!-- <input type="text" class="form-control datetimepicker" placeholder="Select Date"> -->
                <input class="form-control" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
              </div>
            </div>
            
            
              <div class="btn-search">
                <button type="button" class="btn btn-block">Search</button>
              </div>
            </div>
          </div>
          <!-- /Search Filter -->

        </div>

        <div class="col-md-7 col-lg-8 col-xl-9">
          <div class="row row-grid">
              <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let practice of practices">
                <div class="profile-widget">
                  <div class="doc-img">
                    <a >
                      <img class="img-fluid" alt="User Image" src="assets/Images/doctor1.jpeg">
                    </a>
                    <a class="fav-btn">
                      <i class="far fa-bookmark"></i>
                    </a>
                  </div>
                  <div class="pro-content">
                    <h3 class="title">
                      <a >Dr {{ practice.Dr_name }} {{ practice.Dr_surname }}</a>
                      <!-- <i class="fas fa-check-circle verified"></i> -->
                    </h3>
                    <p class="speciality">{{ practice.discipline }}</p>
                    <div class="rating">
                      


                      <div [ngSwitch]="practice.Review">
                        <!-- the same view can be shown in more than one case -->
                        <div *ngSwitchCase="1">
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star "></i>
                          <i class="fas fa-star "></i>
                          <i class="fas fa-star "></i>
                          <i class="fas fa-star "></i>
                 
                        </div>

                        <div *ngSwitchCase="2">
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>

                          <i class="fas fa-star "></i>
                          <i class="fas fa-star "></i>
                          <i class="fas fa-star "></i>
          
                        </div>

                        <div *ngSwitchCase="3">
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star "></i>
                          <i class="fas fa-star "></i>
                          
                        
                        </div>

                        <div *ngSwitchCase="4">
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star "></i>
                        </div>

                        <div *ngSwitchCase="5">
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                        </div>
                     
                        <!--default case when there are no matches -->
                        <div *ngSwitchDefault>
                          <i class="fas fa-star "></i>
                          <i class="fas fa-star "></i>
                          <i class="fas fa-star "></i>
                          <i class="fas fa-star "></i>
                          <i class="fas fa-star "></i>

                        </div>
                    </div>



                      <!-- <span class="d-inline-block average-rating">(17)</span> -->
                    </div>
                    <ul class="available-info">
                      <li>
                        <i class="fas fa-map-marker-alt"></i> {{practice.address}}
                      </li>
                      <li>
                        <!-- <i class="far fa-clock"></i> review :{{ practice.Review }} , active :{{ practice.active }} ,email :{{ practice.email }} , name:review :{{ practice.name }} , number:review :{{ practice.number }} , hours :{{ practice.operating_hours }} ,practice_address :{{ practice.practice_address }} , title; {{practice_title}},website; {{practice_website}} -->
                      </li>
                      <li>
                            <i class="fa fa-phone"></i> {{practice.number}}
                      </li>
                    </ul>
                    <div class="row row-sm">
                      <div class="col-6">
                        <a routerLink="/patient/doctor-profile/{{practice.id}}"class="btn book-btn btn-block btn-outline-primary active">View Profile</a>
                      </div>
                      <div class="col-6">
                        <a routerLink="/patient/booking"class="btn book-btn btn-block btn-outline-primary active">Book Now</a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>


          <!-- <div class="load-more text-center">
            <a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
          </div> -->
        </div>
      </div>

    </div>

  </div>
  <!-- /Page Content -->

  <!-- Footer -->

  <!-- /Footer -->

</div>
