<!-- Main Wrapper -->
        <div class="main-wrapper">

          <div class="">
        				<div class="">
                  <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card">
                          <div class="card-header">
                            <!-- <h4 class="card-t?itle"> Simple Table</h4> -->
                          </div>
                          <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                  <th>Doctors Name</th>
                                  <th>Appt Date</th>
                                  <th>Notes</th>
                                  <th>Practice Name</th>
                                  <th>Status</th>
                                    <th>Action </th>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      Dakota Rice
                                    </td>
                                    <td>11 Nov 2019 <span class="d-block text-info">10.00 AM - 11-00 AM</span></td>
                                    <td>General</td>
                                    <td> PTA Branch</td>
                                    <td> <button type="button" class="btn bg-info-light btn-sm" id="topup_status">Completed</button></td>
                                    <td class="">
                                      <div class="table-action">
                                        <a class="btn btn-sm bg-info-light" routerLink="/patient/booking"><i class="fa fa-pencil"></i> Edit</a>
                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light" ngSubmit="cancel()">
                                          <i class="fa fa-times"></i> Cancel
                                        </a>
                                      </div>

                                    </td>
                                  </tr>


                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

  						</div>
        				</div>

        			</div>


        </div>
		<!-- /Main Wrapper -->
