


	<!--================Header Menu Area =================-->
<header class="header_area">
	<div class="top_menu row m0">
		<div class="container">
			<div class="float-left">
				<ul class="left_side">

					<li>
						<a href="instagram">
							<i class="fa fa-instagram"></i>
						</a>
					</li>


				</ul>
			</div>
			<div class="float-right">
				<ul class="right_side" style="text-transform: lowercase;">
					<li>
						<a >
							<i class="lnr lnr-phone-handset"></i>
							081 472 4471 / 081 722 3199
						</a>
					</li>
					<li>
						<a >
							<i class="lnr lnr-envelope"></i>
							sandymashele.sm@gmail.com
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main_menu" style="position: fixed;width: 100%;top: 0; ">
		<nav class="navbar navbar-expand-lg navbar-light" >
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo_h" routerLink="/home">
					<img src="assets/images/logo.png" class="logo">
				</a>
				<button class="navbar-toggler" style="border: 10px solid transparent;    width: 80px;"type="button" data-toggle="collapse"					8data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<div class="row ml-0 w-100">
						<div class="col-lg-12 pr-0">
							<ul class="nav navbar-nav center_nav pull-right">
								<li class="nav-item active">
									<a class="nav-link" routerLink="index.html">About Us</a>
								</li>
								<li class="nav-item submenu dropdown">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
										aria-haspopup="true" aria-expanded="false">Services</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a class="nav-link" routerLink="/patient-info">Patients</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" routerLink="/doctor-info">Doctors</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" routerLink="/pharmacy-info">Pharmacy</a>
										</li>
									</ul>
								</li>
								<li class="nav-item ">
									<a class="nav-link" routerLink="/contact">Contact</a>
								</li>
								<li class="nav-item ">
									<a class="nav-link" routerLink="/login">Login</a>
								</li>



							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>
	<!--================Header Menu Area =================-->

	<!--================ Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content row">
					<div class="col-lg-12">
						<h1>
							<a  class="typewrite" data-period="2000" data-type='[ "Designed for Patients.", "Designed for Doctors.", "Designed for  Pharmacy."
								]'>
								<span class="wrap"></span>
							</a>
						</h1>
						<p>Designed to make patient-doctor consultations easier through online bookings.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->
  <section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-left">
					<h2>Pharmacy</h2>
					<div class="page_link">
						<a href="index.html">Home</a>
						<a href="doctors.html">Pharmacy</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Banner Area =================-->

<section class="team-area section_gap">
	<div class="container">
		<div class="row justify-content-center text-center mb-5 w-border  mx-auto section-title-wrap">
			<div class="col-lg-12">
				<h1>Our Offered Services</h1>
				<p>
					Medical Couch is a website that caters for patients, doctors and pharmacies. It is designed to make
					patient-doctor consultations easier through online bookings.

					Medical Couch enables doctors to upload patient’s prescription at nearby pharmacies in accordance to
					the patient’s
					preferred pick up date and time.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-6 mb-60">
				<div class="single_service">
					<span class="lnr lnr-laptop"></span>
					<p>
					Helps pharmacies not to only have an organised online prescription upload system which
					helps to make hand out easy, but to be advertised to the new platforms of social media.</p>
				</div>
			</div>
			<div class="col-lg-12 col-md-6 mb-60">
				<div class="single_service">
					<span class="lnr lnr-rocket"></span>
					<p>
						Organises prescription for pharmacies by preparing a list with patients
						information to help pack beforehand.
					</p>
				</div>
			</div>
			<div class="col-lg-12 col-md-6 mb-60">
				<div class="single_service">
					<span class="lnr lnr-heart-pulse"></span>

					<p>
						Makes prescription hand outs much faster by providing patients information
						to enter on the pharmacy system
					</p>
				</div>
			</div>
			<div class="col-lg-12 col-md-6 mb-60">
				<div class="single_service">
					<span class="lnr lnr-bug"></span>
					<p>
					 It provides a pack-handout system without any delays </p>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="about-us section_gap">
	<div class="container">
		<div class="row justify-content-center text-center mb-5 w-border  mx-auto section-title-wrap">
			<div class="col-lg-12">
				<h1>PRICELIST</h1>

			</div>
		</div>


		<div class="row">

			<!-- item -->
			<div class="col-md-6 text-center">
				<div class="panel panel-danger panel-pricing">
					<div class="panel-heading">
						<i class="fa fa-feed"></i>
						<h3>Online Prescription upload site</h3>
					</div>
					<div class="panel-body text-center">
						<p><strong>R85 / Month</strong></p>
					</div>
					<ul class="list-group text-center">
						<li class="list-group-item"> Enables the pharmacy to receive prescriptions together with patient
							information and data to enter on their system.</li>
						<li class="list-group-item"> It will be user friendly and allow full control over the
							prescription upload process.</li>
					</ul>
					<div class="panel-footer">
						<a class="btn btn-lg btn-block " href="#">CLICK FOR MORE</a>
					</div>
				</div>
			</div>
			<!-- /item -->

			<!-- item -->
			<div class="col-md-6 text-center">
				<div class="panel panel-warning panel-pricing">
					<div class="panel-heading">
						<i class="fa fa-chain"></i>
						<h3>Website redirecting LINK</h3>
					</div>
					<div class="panel-body text-center">
						<p><strong>R50 / Month</strong></p>
					</div>
					<ul class="list-group text-center">
						<li class="list-group-item"> The pharmacy has a choice to re-direct patient to the website to
							get more information.</li>
						<li class="list-group-item"> It can re-direct doctors uploading prescriptions to their
							website, which creates exposure for the pharmacy’s website.</li>

					</ul>
					<div class="panel-footer">
						<a class="btn btn-lg btn-block " href="#">CLICK FOR MORE</a>
					</div>
				</div>
			</div>
			<!-- /item -->
			<div class="col-md-6 text-center">
				<div class="panel panel-success panel-pricing">
					<div class="panel-heading">
						<i class="fa fa-trophy"></i>
						<h3>Advertising & Marketing space</h3>
					</div>
					<div class="panel-body text-center">
						<p><strong>20c / click</strong></p>
					</div>
					<ul class="list-group text-center">
						<li class="list-group-item"> The pharmacy may advertise tests done, medication and products on
							our website for more exposure.</li>

					</ul>
					<div class="panel-footer">
						<a class="btn btn-lg btn-block " href="#">CLICK FOR MORE</a>
					</div>
				</div>
			</div>
			<!-- item -->
			<div class="col-md-6 text-center">
				<div class="panel panel-success panel-pricing">
					<div class="panel-heading">
						<i class="fa fa-camera-retro"></i>
						<h3>Professional Photoshoot </h3>
					</div>
					<div class="panel-body text-center">
						<p><strong>R250 / Once-off</strong></p>
					</div>
					<ul class="list-group text-center">
						<li class="list-group-item"> The Pharmacy will have proffesional , clear photos for social media
							advertising and for our website.</li>
					</ul>
					<div class="panel-footer">
						<a class="btn btn-lg btn-block " href="#">CLICK FOR MORE</a>
					</div>
				</div>
			</div>

			<!-- /item -->

		</div>

	</div>
</section>
