<header class="header_area">
	<div class="top_menu row m0">
		<div class="container">
			<div class="float-left">
				<ul class="left_side">
					<li>
						<a href="login.html">
							<i class="fa fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="login.html">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="login.html">
							<i class="fa fa-dribbble"></i>
						</a>
					</li>
					<li>
						<a href="login.html">
							<i class="fa fa-behance"></i>
						</a>
					</li>

				</ul>
			</div>
			<div class="float-right">
				<ul class="right_side">
					<li>
						<a href="login.html">
							<i class="lnr lnr-phone-handset"></i>
							081 472 4471 / 081 722 3199
						</a>
					</li>
					<li>
						<a href="#">
							<i class="lnr lnr-envelope"></i>
							sandymashele.sm@gmail.com
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light" >
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo_h" href="index.html">
					<img src="assets/img/logo.png" class="logo">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<div class="row ml-0 w-100">
						<div class="col-lg-12 pr-0">
							<ul class="nav navbar-nav center_nav pull-right">
								<li class="nav-item active">
									<a class="nav-link" routerLink="/home">About Us</a>
								</li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
										aria-haspopup="true" aria-expanded="false">Services</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a class="nav-link" routerLink="/patient">Patient</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" routerLink="/login">Doctors</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" routerLink="/pharmacy">Pharmacy</a>
										</li>
									</ul>
								</li>
								<li class="nav-item ">
									<a class="nav-link" routerLink="/contact">Contact</a>
								</li>
                <li class="nav-item ">
                  <a class="nav-link" routerLink="/patient-dashboard">Login</a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link"  (click)="logout()">Logout</a>
                </li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>	<!--================ Banner Area =================-->
<section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
          <div class="container">
              <div class="banner_content text-left">
                  <h2>Contact Us</h2>
                  <div class="page_link">
                      <a href="index.html">Home</a>
                      <a href="contact.html">Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="contact_area p_120">
        <div class="container">
            <div id="mapBox" class="mapBox">
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <!-- <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>California, United States</h6>
                            <p>Santa monica bullevard</p>
                        </div> -->
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6>
                                <a href="#">081 472 4471 / 081 722 3199</a>
                            </h6>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6>
                                <a href="#">sandymashele.sm@gmail.com</a>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="btn submit_btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
