
<div class="">

  <!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" >
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a class="navbar-brand logo">
              <img src="assets/website/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a  class="menu-logo">
                <img src="assets/website/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" >
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav" style="margin-left: auto;">
							<li>
								<a  routerLink="/home">About Us</a>
							</li>
							<li><a routerLink="/patient-information"> Patients</a></li>
							<li class="active"><a routerLink="/doctor-information">Doctor</a></li>
							<li><a routerLink="/pharmacy-information">Pharmacy </a></li>
							<li >
								<a routerLink="/login">Login </a>
							</li>
						</ul>
					</div>
				</nav>
			</header>
			<section class="website_banner_area" style="background: url(assets/website/img/slide/home.jpg) no-repeat center bottom;">


			  <div class="banner_inner d-flex align-items-center">
          <div class="container">
				<div class="banner_content text-left">
					<h2>Doctor</h2>
				</div>
			</div>

			  </div>
			</section>


			<main id="main">
        <section id="services" class="services services" style="background: #eeeeee;">
          <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2>SERVICES RENDERED</h2>
              <p>Have you seen an advert where they advertise the doctor, not the services they render or the
products that are being sold. Just the doctor? No? Neither have I.</p>
<p><strong>Medical Couch</strong> is a website that caters for patients, doctors and pharmacies. It is designed to make patient-doctor consultations easier through online bookings.</p>

           </div>

            <div class="row">

              <div class="col-lg-6 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="icofont-drug"></i></div>
                <h4 class="title"><a>Online calendar </a></h4>
                <i class="bx bx-check-circle"></i>
                <p>Enables the doctor to accept, decline, manage availability from their devices in the
                  comfort of their home.</p>

                <p>  Helps to organise daily schedules</p>
                </div>
                <div class="col-lg-6 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><i class="icofont-heart-beat"></i></div>
                  <h4 class="title"><a >Website redirecting </a></h4>
                  <i class="bx bx-check-circle"></i>
                  <p>The doctor has a choice to re-direct
                    patient booking to their website, which creates
                    exposure for the pharmacy’s website</p>
                </div>
              <div class="col-lg-6 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="icofont-heartbeat"></i></div>
                <h4 class="title"><a >  Photoshoot  </a></h4>
                <i class="bx bx-check-circle"></i>
                <p>The doctor will have clear
                  photos for social media
                  advertising and for our website.</p>
              </div>
              <div class="col-lg-6 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="icofont-disabled"></i></div>
                <h4 class="title"><a > Advertising space</a></h4>
                <p class="description">The doctor may advertise
                      tests done, equipment and
                      practice on our website for
                      more exposure.</p>
              </div>

            </div>

          </div>
          </section>
          <section id="pricing" class="pricing">
  			    <div class="container" data-aos="fade-up">

  			      <div class="section-title">
  			        <h2>Pricing</h2>
  			      </div>

  			      <div class="row">



  			        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
  			          <div class="box featured" data-aos="fade-up" data-aos-delay="200">
  			            <h3>Online prescription upload site </h3>
  			            <h4><sup>R</sup>85<span> / month</span></h4>
  			          </div>
  			        </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                 <div class="box featured" data-aos="fade-up" data-aos-delay="200">
                   <h3>Photo shoot</h3>
                   <h4><sup>R</sup>250<span> Once off </span></h4>
                 </div>
               </div>
               <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                 <div class="box featured" data-aos="fade-up" data-aos-delay="200">
                   <h3>Website redirecting </h3>
                   <h4><sup>R</sup>50<span> / month</span></h4>
                 </div>
               </div>
               <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                 <div class="box featured" data-aos="fade-up" data-aos-delay="200">
                   <h3>Advertising space </h3>
                   <h4><sup>C</sup>20<span> / click</span></h4>
                 </div>
               </div>






  			      </div>

  			    </div>
  			  </section>

				<section id="features cta" class="features cta" >
					<div class="container" data-aos="fade-up">
						<div class="section-title">
							<h2>WHY US?</h2>
						</div>
						<div class="row">
							<div class="col-lg-12 order-2 order-lg-1" data-aos="fade-right">
								<div class="icon-box mt-5 mt-lg-0">
									<i class="bx bx-check-circle" style="color:white"></i>
									<p style="color:white">Unlike our competitors <strong>Medical Couch</strong> makes its
clients its brand ambassadors, making them the frontline
of advertisement. We aim to give our clients total
control of the website enabling all parties to cancel,
accept, decline and upload at their own time for their
preferred time.</p>
								</div>
								<div class="icon-box mt-5">
									<i class="bx bx-check-circle" style="color:white"></i>
									<p style="color:white">We provide a feature that allows <strong>uploading of prescriptions online</strong>
wherever you are and whenever you want. </p>
								</div>
								<div class="icon-box mt-5">
									<i class="bx bx-check-circle" style="color:white"></i>
									<p style="color:white">We use social media platforms for advertisement that contains over a <strong>1000
followers </strong> for greater exposure</p>
								</div>
								<div class="icon-box mt-5">
									<i class="bx bx-check-circle" style="color:white"></i>
									<p style="color:white">We provide all these services at <strong>an affordable price.</strong> affordable price. </p>
								</div>
								<div class="icon-box mt-5">
									<i class="bx bx-check-circle" style="color:white"></i>
									<p style="color:white"><strong>Your goal is our mission and your vision is our priority.</strong></p>
								</div>
							</div>

						</div>

					</div>
				</section>
			  <section id="features" class="features" >
			    <div class="container" data-aos="fade-up">

			      <div class="section-title">
			        <h2>TERMS AND CONDITIONS</h2>
			        <p>By signing the contract you agree:</p>
			      </div>

			      <div class="row">
			        <div class="col-lg-6" data-aos="fade-right">
			          <img src="assets/website/img/gallery/aboutus.jpeg" class="img-fluid" alt="">
			        </div>
			        <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">

                <div class="icon-box mt-5 mt-lg-0">
                  <i class="bx bx-receipt"></i>
                  <p>To pay your selected price on the agreed upon date every month.</p>
                </div>
                <div class="icon-box mt-5 mt-lg-0">
                  <i class="bx bx-receipt"></i>
                  <p>Will be able to arrange further meetings for updates and any
                        amendments that need to be done to set up your profile.</p>
                </div>

                <div class="icon-box mt-5 mt-lg-0">
                  <i class="bx bx-receipt"></i>
                  <p>The pharmacy is registered according to the correct laws of
your area.</p>
                </div>
                <div class="icon-box mt-5 mt-lg-0">
                  <i class="bx bx-receipt"></i>
                  <p>Will be able to abide to the terms and condition of using
<strong>Medical Couch</strong>.</p>
                </div>
			        </div>
			      </div>

			    </div>
			  </section>


			  <section id="contact" class="contact" style="background: #eeeeee;">
			    <div class="container">

			      <div class="section-title">
			        <h2>Contact Us</h2>
			        <p>Feel free to contact <strong>Medical Couch</strong> for any queries or arrangements for meetings</p>
            </div>

			    </div>



			    <div class="container">

			      <div class="row mt-5">

			        <div class="col-lg-12">

			          <div class="row">

			            <div class="col-md-6">
			              <div class="info-box mt-4">
			                <i class="bx bx-envelope"></i>
			                <h3>Email Us</h3>
			                <p>health@medicalcouch.co.za</p>
			              </div>
			            </div>
			            <div class="col-md-6">
			              <div class="info-box mt-4">
			                <i class="bx bx-phone-call"></i>
			                <h3>Call Us</h3>
			                <p>081 472 4471 <br>081 722 3199</p>
			              </div>
			            </div>
			          </div>

			        </div>



			      </div>

			    </div>
			  </section>

			</main>

</div>
