<section class="w3l-bootstrap-header">
  <nav class="navbar navbar-expand-md navbar-light py-3">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" width="1500px"class="img-fluid" width="52px">
      </a>
      <!-- if logo is image enable this
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>  -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>

        </ul>
      </div>
      <!-- <a href="#domain" class="domain ml-3" data-toggle="modal" data-target="#DomainModal">
        <div class="hamburger1">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </a> -->
    </div>
  </nav>
</section>
<section class="w3l-main-slider" id="home">
  <!-- main-slider -->
  <div class="companies20-content">

    <div class="owl-one owl-carousel owl-theme">
      <div class="item">
        <li>
          <div class="slider-info banner-view bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>Designed for Patients , Doctors , Pharmacy</h5>
                  <p>Designed to make patient-doctor consultations easier through online bookings.</p>
              </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info  banner-view banner-top1 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>Helping you to stay Happy one</h5>
                  <p>Donec maximus erat quis magna tincidunt, et ullamcorper ex condimentum. Pellentesque
                    volutpat lectus felis, sit amet dapibus tortor convallis sit amet. Quisque egestas sem quis
                    augue porta, et iaculis massa consequat.</p>
                    <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" href="services.html"> Our Services</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top2 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>1 Lakh+ Patients trusted in our Hospital.</h5>
                  <p>Donec maximus erat quis magna tincidunt, et ullamcorper ex condimentum. Pellentesque
                    volutpat lectus felis, sit amet dapibus tortor convallis sit amet. Quisque egestas sem quis
                    augue porta, et iaculis massa consequat.</p>
                    <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" href="services.html"> Our Services</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top3 bg bg2" >
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>The Largest and most respected Agencies</h5>
                  <p>Donec maximus erat quis magna tincidunt, et ullamcorper ex condimentum. Pellentesque
                    volutpat lectus felis, sit amet dapibus tortor convallis sit amet. Quisque egestas sem quis
                    augue porta, et iaculis massa consequat.</p>
                    <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" href="services.html"> Our Services</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>

  <!-- /main-slider -->
</section>
<section class="w3l-features-photo-7 py-5">
    <div class="w3l-features-photo-7_sur py-lg-5 py-sm-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 w3l-features-photo-7_top-left">
                    <!-- <h2>ABOUT US</h2>    -->
                         <!-- <p><a routerLink="/home/sibathedev/Pictures/MedicalC_Git/MedicalCoachWebsiteFrontend/src/app/account/login">Manage Users</a></p> -->

                    <!-- <p class="mb-lg-5 mb-4">Doctor of Transplant Surgery (PHD)</p> -->
                    <h4>Medical Couch is a website that caters for patients, doctors and pharmacies. It is designed to make patient-doctor consultations easier through online bookings.</h4>
                    <p>Medical Couch enables doctors to upload patient’s prescription at nearby pharmacies in accordance to the patient’s preferred pick up date and time.</p>
                    <div class="feat_top">
                        <div class="w3l-features-photo-7-box">
                            <div class="icon">
                              <img src="assets/images/heart.png" class="img-fluid"/>
                            </div>
                            <div class="info-feature">
                                <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Mission</a></h5>
                                <p>Medical aid intends to build a relationship amongst patients, doctor and pharmacies through a user friendly, reliable and innovative system</p>
                            </div>
                        </div>
                        <div class="w3l-features-photo-7-box">
                          <div class="icon">
                            <img src="assets/images/icon1.png" class="img-fluid"/>
                          </div>
                            <div class="info-feature">
                                <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Vision</a></h5>
                                <p>To be the first choice booking website to patients, doctors and pharmacies in South Africa and extend globally.</p>
                            </div>
                        </div>
                        <div class="w3l-features-photo-7-box">
                          <div class="icon">
                            <img src="assets/images/sthethoscope.png" class="img-fluid"/>
                          </div>
                            <div class="info-feature">
                                <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Goal</a></h5>
                                <p>To achieve loyalty from all three parties; patients, doctors and pharmacies To be the number 1 solution to online booking and online prescription uploads.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 w3l-features-photo-7_top-right mt-lg-0 mt-4">
                    <img src="assets/images/medical_couch2.jpeg" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-video-sec panel-pricing">

	<div class="video-inner py-5">
		<div class="overlay1 py-lg-5 py-sm-3">
			<div class="container">
				<div class="video-content">

					<img src="assets/images/heart-big.png" class="img-fluid" alt="" />
					<h4><a href="#url">Prices</a></h4>

            <div class="pricing-row main-cont-wthree-2">
            <div class="panel pricing-table">

                <div class="pricing-plan">
                  <i class="fa fa-feed"></i>
                  <h2 class="pricing-header">ONLINE PRESCRIPTION UPLOAD SITE</h2>

                  <ul class="pricing-features">
                    <li class="pricing-features-item">Enables the pharmacy to receive prescriptions together with patient information and data to enter on their system.</li>
                    <li class="pricing-features-item">It will be user friendly and allow full control over the prescription upload process.</li>
                  </ul>
                  <span class="pricing-price">R85</span>
                  <p>per month</p>
                  <!-- <a href="#/" class="pricing-button">Sign up</a> -->
                </div>

                <div class="pricing-plan">
                 <i class="fa fa-chain"></i>
                  <h2 class="pricing-header">WEBSITE REDIRECTING LINK</h2>
                  <ul class="pricing-features">
                    <li class="pricing-features-item">The pharmacy has a choice to re-direct patient to the website to get more information.</li>
                    <li class="pricing-features-item">It can re-direct doctors uploading prescriptions to their website, which creates exposure for the pharmacy’s website.</li>
                  </ul>
                  <span class="pricing-price">R50</span>
                  <p>per month</p>
                  <!-- <a href="#/" class="pricing-button is-featured">Free trial</a> -->
                </div>

              </div>
              <div class="panel pricing-table">

                <div class="pricing-plan">
                    <i class="fa fa-trophy"></i>
                    <h2 class="pricing-header">ADVERTISING & MARKETING SPACE</h2>
                  <ul class="pricing-features">
                    <li class="pricing-features-item"> The pharmacy may advertise tests done, medication and products on our website for more exposure.</li>
                  </ul>
                  <span class="pricing-price">20c</span>
                  <p>per click</p>
                  <!-- <a href="#/" class="pricing-button">Sign up</a> -->
                </div>

                <div class="pricing-plan">
                  <i class="fa fa-camera"></i>
                  <!-- <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img"> -->
                  <h2 class="pricing-header">PROFESSIONAL PHOTOSHOOT</h2>
                  <ul class="pricing-features">
                    <li class="pricing-features-item">The Pharmacy will have proffesional , clear photos for social media advertising and for our website.</li>
                  </ul>
                  <span class="pricing-price">R250</span>
                  <p>once-off</p>
                  <!-- <a href="#/" class="pricing-button is-featured">Free trial</a> -->
                </div>

              </div>
            </div>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="w3l-apply-6 "  id="appointment">
	<!-- /apply-6-->
	<div class="apply-info py-5">
		<div class="container py-lg-5 py-sm-3">
			<div class="apply-grids-info row">
				<div class="apply-gd-left col-lg-5">
					<h4>Contact Us</h4>

					<div class="mt-lg-5 mt-4">
						<div class="sub-apply mt-5">
							<div class="apply-sec-info">
								<div class="icon">
									<i class="fa fa-phone"></i>
								</div>
								<div class="appyl-sub-icon-info">
									<h5><a href="blog-single.html">Call</a></h5>
									<p>081 472 4471 / 081 722 3199 </p>
									<!-- <a href="#url" class="learn">Learn More <i class="fa fa-long-arrow-right ml-2"></i></a> -->
								</div>
							</div>
						</div>
						<div class="sub-apply mt-5">
							<div class="apply-sec-info">
								<div class="icon">
									<i class="fa fa-at"></i>
								</div>
								<div class="appyl-sub-icon-info">
									<h5><a href="blog-single.html">Email</a></h5>
									<p>sandymashele.sm@gmail.com</p>
									<!-- <a href="#url" class="learn">Learn More <i class="fa fa-long-arrow-right ml-2"></i></a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="apply-gd-right offset-lg-1 col-lg-6 mt-lg-0 mt-5">
					<div class="apply-form p-sm-5 p-4">
						<h5>Fill the form for appointment</h5>
						<form action="#" method="post">
							<div class="admission-form">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Full Name*" required="">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Phone Number*" required="">
								</div>
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Email*" required="">
								</div>
								<select class="form-control">
									<option>Select Disease</option>
									<option>Lung disease</option>
									<option>Others</option>
								</select>
							</div>
							<div class="form-group">
								<textarea name="Comment" class="form-control" placeholder="Message*" required=""></textarea>
							</div>
							<button type="submit" class="btn btn-primary submit">Submit Now</button>
						</form>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>
